{% load static %}
<section class="">
  <div class="carousel-wrapper relative  p-6 lg:container w-[90%] mx-auto">

    <button 
    class="absolute hidden z-20  prev -left-5 top-1/2  transform -translate-y-1/2 bg-black  text-white px-4 py-2 rounded-full">
    &#10094;
</button>

      <!-- Carousel Items -->
      <div id="data-category"  class="carousel carousel-id flex overflow-x-auto space-x-7 scroll-smooth mb-4">
      
          <!-- Add more items if needed -->
      </div>
   
      <!-- Right Arrow -->
      <button 
          class="absolute next -right-5 top-1/2 transform -translate-y-1/2 bg-gray-800 text-white px-4 py-2 rounded-full">
          &#10095;
      </button>
  </div>
</section>
