 <!-- Footer Section Start -->
  {% load static %}
 <footer class=" bg-[#F2F2F2]  p-10">
    <aside>
        <div class="flex items-center justify-center relative ">
            <!-- <i
                class="fa-solid  fa-arrow-right bg-btn-bg p-2 bottom-1 -rotate-45 text-[20px] rounded-[100%] mr-1"></i> -->
         <a class="font-bold text-3xl text-white">  <img src="{% static 'assets/logo/thj.png' %}" alt="">
                </a>
        </div>
        <p class="font-bold text-[#737373] pt-3 pb-9 md:w-3/4 mx-auto text-center">
            This platform mission to empower learners and educators through accessible, innovative learning opportunities.
        </p>
      
    </aside>
    <div class="divider"></div>
    <aside>
        <p class="text-center">© - All right reserved by InspiaLearn Ltd.</p>
      </aside>
</footer>
