 <!-- Footer Section Start -->
  {% load static %}
 <footer class="footer footer-center bg-black  p-10">
    <aside>
        <div class="flex items-center relative ">
            <!-- <i
                class="fa-solid  fa-arrow-right bg-btn-bg p-2 bottom-1 -rotate-45 text-[20px] rounded-[100%] mr-1"></i> -->
         <a class="font-bold text-3xl text-white">  <img src="{% static 'assets/logo/thj.png' %}" alt="">
                </a>
        </div>
        <p class="font-bold text-[#737373] pt-3 pb-9 md:w-3/4">
            Let's bring your vision to life. Our team is excited to collaborate and provide innovative 
            
            solutions tailored to your needs.
        </p>
        <nav>
            <div class=" ">
                <ul class="grid md:grid-flow-col gap-4 md:gap-24 text-gray-300">
                    <li><a href="">Home</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Portfolio</a></li>
                    <li><a href="">Blogs</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </aside>
    <!-- <div class=" bg-btn-bg px-5 py-3 w-full md:w-[220px] rounded-full ml-3">
        <a class=" font-bold text-xl ">Book Consult
            <i
                class="fa-solid  fa-arrow-right bg-black text-white p-2 -rotate-45 text-[16px] rounded-[100%] mr-1"></i>
        </a>
    </div> -->

</footer>
