{% load static %}
<!-- Category section start -->
<section class=" mt-10  ">
    <div class="carousel-wrapper relative   lg:container w-[90%] mx-auto  ">

        <h1 class="text-3xl font-bold mb-5">Short Videos</h1>
        
        <!-- Left Arrow -->
        <button 
            class="absolute hidden z-20  prev -left-5 top-1/2  transform -translate-y-1/2 bg-black  text-white px-4 py-2 rounded-full">
            &#10094;
        </button>

        <!-- Carousel Items -->
        <div id="video-container" class="carousel carousel-id flex overflow-x-auto space-x-7 scroll-smooth mb-4">
       

            <!-- Add more items if needed -->
        </div>

 

        <!-- Right Arrow -->
        <button 
            class="absolute next -right-5 top-1/2 transform -translate-y-1/2 bg-gray-800 text-white px-4 py-2 rounded-full">
            &#10095;
        </button>
    </div>
</section>


